* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  padding-left: 0;
}

img {
  max-width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-content-container {
  flex-grow: 1;
  display: grid;
  place-items: center;
  padding: 3em 1em;
}
.inner-content-container {
  width: min(100%, 200px);
}
.inner-content-container h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-top: 0;
  text-align: center;
}
.page-content-container .theme-light {
  color: #1e293b;
  background-color: #ffffff;
}
.theme-light {
  color: #1e293b;
  background-color: #ffffff;
}
.theme-dark {
  color: #ffffff;
  background-color: #000000;
}

.navbar-dark {
  background-color: #333333;
}
.navbar-light {
  background-color: #dcdcdc;
}

a {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 500;
}

.navbar-light a {
  color: #1e293b;
}
.navbar-dark a {
  color: #ffffff;
}
.not-found {
  width: min(100%, 400px);
  display: grid;
  place-items: center;
  text-align: center;
}
.not-found img {
  max-width: 80%;
}
.not-found h1 {
  font-weight: normal;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}
.not-found p {
  margin-block: 0;
}
